.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container.modale {
  padding: 30px 30px 0 30px;
}

.modal-image {
  width: 300px;
  height: auto;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card-head {
  background-color: #ff6685;
}

.modal-card-foot {
  background-color: #ff6685;
}
